.card {
  height: 100%;
}

.card-shadow {
  box-shadow: 0px 6px 10px -4px rgba(0, 0, 0, 0.2),
    0px 10px 12px 0px rgba(0, 0, 0, 0.14), 0px 4px 22px 0px rgba(0, 0, 0, 0.12);
  transition: box-shadow 0.3s cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    box-shadow: 0px 11px 15px -7px rgba(0, 0, 0, 0.2),
      0px 24px 38px 3px rgba(0, 0, 0, 0.14),
      0px 9px 46px 8px rgba(0, 0, 0, 0.12);
  }
}

.card-header {
  padding: 5px;
}

.blockquote {
  margin-bottom: 0;
  font-size: 1.1rem;
}

.quote-author {
  float: right;
  font-size: 80%;
  color: #6c757d;
  font-style: italic;
}

.quote-text:hover,
.quote-author:hover {
  cursor: pointer;
}

.fa.fa-star:hover {
  cursor: default;
}

.fa.fa-quote-left,
.fa.fa-heart,
.fa.fa-share-alt {
  color: #9e9e9e;
}

.pink-color {
  color: #ff4081 !important;
}
.card-footer {
  margin-top: 60px;
  padding: 0.75rem 1.25rem;
  background-color: rgba(0, 0, 0, 0.03);
  border-top: 1px solid rgba(0, 0, 0, 0.125);
}
