<app-banner [imageUrl]="bannerImageUrls">
  <div class="banner">
    <h1 class="banner__title">User Management</h1>
  </div>
</app-banner>
<div class="searchandadd">
  <div class="search">
    <mat-form-field>
      <input matInput type="text" #search placeholder="Search by username">
    </mat-form-field>
  </div>
  <div class="add">
    <button mat-stroked-button (click)="openAddModal()">Add</button>
  </div> 
</div>
<app-datatable [tableService]="tableService" [displayedColumns]="displayedColumns"></app-datatable>