.banner {
  display: flex;
  justify-content: center;
  align-items: center;

  &__title {
    font-size: 50px;
    text-align: center;
    color: white;
  }
}
.searchandadd {
  margin-bottom: 1rem;
  margin-top: 1rem;
  margin-left: 1rem;
  display: flex;
  justify-content: space-between;

  .search {
    button {
      margin-left: 1rem;
    }
  }
  .add {
    button {
      margin-right: 3rem;
    }
  }
}
