.comment-item {
  display: flex;
  margin-bottom: 1rem;
  flex-direction: row;

  .avatar {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    border: 1px solid #4285f4;
    align-self: center;
  }

  .section {
    text-align: left;
    margin-left: 1rem;
    flex: 1;

    &__header {
      margin-top: 0;
      margin-bottom: 0;
    }
  }
}
